<mtapp:setting
    id="tag"
    label="<__trans phrase="Tag">">
    <input type="text" name="tag" value="<mt:var name="tag" escape="html">" />
    <p><__trans phrase="Image size should be 120 * 90(Movalble Type 5.1 or later) or 100 * 75(Movalble Type 5.0)."></p>
</mtapp:setting>